.index-tile {
  display: table;
  margin-left: 2%;
  margin-bottom: 3%;
}

.index-img {
  float: left;
  width: 200px;
  height: 110px;
  padding-top: 3%;
}

.index-info {
  padding-top: 2.5%;
}

.category-info-review {
  float: left;
  margin-left: 3%;
}

.location-info {
  float: right;
  margin-left: 3%;
}
